@model LoginViewModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["title"] = "Entre e comece como um membro FreeDev";
}

<div style="margin-bottom:40px" class="text-center">
    <h1>@ViewData["title"]</h1>
</div>
<hr />

@if (TempData["alertError"] != null)
{
    <div role="alert" class="alert alert-success">
        @TempData["alertError"]
        <button type="button" class="btn btn-danger btn-close btn-sm close-alert" arial-label="Close">X</button>
    </div>
}

<div class="row">
    <form asp-action="Entrar">
        <div class="row">
            <div class="form-group">
                <label class="form-label" for="Email">@Html.DisplayNameFor(x => x.Email)</label>
                <input class="form-control" asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label class="form-label" for="Email">@Html.DisplayNameFor(x => x.Senha)</label>
                <input type="password" class="form-control" asp-for="Senha" />
                <span class="text-danger" asp-validation-for="Senha"></span>
            </div>
            <div style="margin-top:10px" class="text-center">

                <button type="submit" class="btn btn-success">Entrar</button>
            </div>
    </form>
    <div class="text-center">
        <h4>Ainda não tem um conta ?</h4>
        <div>
            <a role="button" class="btn btn-primary" asp-action="Create" asp-controller="Usuario">Cadastrar como cliente</a>

            <a role="button" class="btn btn-primary" asp-action="Create" asp-controller="UsuarioDev">Cadastrar como Dev</a>
        </div>
    </div>

        

    


</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }


