@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Seu site para devs e analistas que desejam seguir como freelancers</p>
</div>
